<div class="container p-3">
    <div class="row justify-content-center">
<div class="col-4">
<form>

    <div class="form-group ">
        <label for="NameProvider1">Nombre Proveedor</label>
        <input type="text" class="form-control" id="NameProvider1" placeholder="Nombre" ng-model="nombreproveedor1.nombre">
       <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>

      <div class="form-group ">
        <label for="PhoneProvider1">Telefono Proveedor</label>
        <input type="phone" class="form-control" id="PhoneProvider1" placeholder="Numero Telefono">
       <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>

      <div class="form-group ">
        <label for="EmailProvider1">Correo Proveedor</label>
        <input type="email" class="form-control" id="EmailProvider1" placeholder="Email">
       <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>


    
      <button type="submit" class="btn btn-primary ">Submit</button>

    
  </form>

</div>

<div class="col-4">

    <div class="form-group">
        <label for="exampleFormControlSelect2">Proveedores Registrados</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option *ngFor="let allprov of allproveedores" (click)="fillProvForm(allprov.id)">
                
                {{allprov.nombre}} - Cel: {{allprov.telefono}}
                
            </option>
        </select>
    </div>


</div>
</div>
</div>

