<div class="container p-3">
    <div class="row justify-content-center">
<div class="col-4">
<form>


    <div class="form-group">
        <label for="ProveedorSelect">Seleccione un Proveedor</label>
        <select class="form-control" id="ProveedorSelect">
          <option>Pricemart</option>
          <option>Los Andes</option>
          
        </select>
      </div>


    <div class="form-group ">
      <label for="ordenCompras#1">Ingrese/Edite # Orden de Compras</label>
      <input type="text" class="form-control" id="ordenCompras#1" placeholder="# Orden Compra">
     <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>

     
    <div class="form-group">
        <label for="FechaCompra1">Fecha de Compra</label>
        <input type="date" class="form-control" id="FechaCompra1">  
    </div>

    <div class="form-group">
        <label for="FechaIngreso1">Fecha de Ingreso</label>
        <input type="date" class="form-control" id="FechaIngreso1">  
    </div>


    <div class="form-group">
        <label for="UsuarioAuth1">Autorizado Por:</label>
        <select class="form-control" id="UsuarioAuth1">
          <option>Allan Lopez</option>
          <option>Angel Sevilla</option>
          
        </select>
      </div>

      <div class="form-group">
        <label for="cantidadFacturado">Ingrese Total Facturado</label>
        <input type="money" class="form-control" id="cantidadFacturado" placeholder="$ Total Facturado">
       <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>


      <div class="form-group">
        <label for="InsumoSele1">Seleccione Insumo:</label>
        <select class="form-control" id="InsumoSele1">
          <option>Lacteos</option>
          <option>Plasticos</option>
          
        </select>
      </div>


      <div class="form-group">
        <label for="PrecioUnitario1">Ingrese PrecioUnitario</label>
        <input type="money" class="form-control" id="PrecioUnitario1" placeholder="$ Unitario">
       <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>

      <div class="form-group">
        <label for="UnidadMedida1">Seleccione Unidad de Medida:</label>
        <select class="form-control" id="UnidadMedida1">
          <option>Kgs.</option>
          <option>Lbs.</option>
          
        </select>
      </div>

      <button type="submit" class="btn btn-primary ">Submit</button>

    
  </form>

</div>

<div class="col-4">

    <div class="form-group">
        <label for="exampleFormControlSelect2">Compras Registradas</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>Holis</option>
        
        </select>
    </div>


</div>
</div>
</div>

