<div class="container p-3">
    <div class="row justify-content-center">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">
                    Bienvenido a Nuestra aplicacion!
                </h1>
            </div>
        </div>
        <div class="col-8">
            <form>

                <div class="form-group ">
                    <label for="InsumoEntry1">Nombre Insumo</label>
                    <input type="text" class="form-control" id="InsumoEntry1" placeholder="Nombre">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>


                <div class="form-group">
                    <label for="ProveedorSelect">Seleccione un Proveedor</label>
                    <select class="form-control" id="ProveedorSelect">
                        <option>Pricemart</option>
                        <option>Los Andes</option>
                    </select>

                </div>

                <div class="form-group">
                    <label for="Category1">Seleccione una Categoria</label>
                    <select class="form-control" id="Category1">
                        <option>Leche</option>
                        <option>Plasticos</option>

                    </select>
                </div>

                <div class="form-group">
                    <label for="Descripcion1">Descripcion</label>
                    <input type="text" class="form-control" id="Descripcion1" placeholder="Descripcion">
                    <!--   <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>

                <div class="form-group">
                    <label for="UnidadMedidaVenta1">Seleccione Unidad de Medida:</label>
                    <select class="form-control" id="UnidadMedidaVenta1">
                        <option>Kgs.</option>
                        <option>Lbs.</option>

                    </select>
                </div>

                <div class="form-group">
                    <label for="PrecioVenta">Precio Venta</label>
                    <input type="money" class="form-control" id="PrecioVenta" placeholder="$ Precio Venta">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>


                <div class="form-group">
                    <label for="FechaCompra1">Fecha de Compra</label>
                    <input type="date" class="form-control" id="FechaCompra1">
                </div>




                <button type="submit" class="btn btn-primary ">Submit</button>


            </form>

        </div>
    </div>
</div>