/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
/* @import '~bootstrap/dist/css/bootstrap.min.css' */
html, body { height: 100%; 
}
=======

html, body { height: 100%; }
>>>>>>> 7dbde3e95c0fcafbef9d95e56c44ab482f2caeeb
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
